.vscode
build
guroby/build

concorde/concorde.h
concorde/**/*.o
concorde/**/*.a
concorde/TSP/concorde
concorde/LINKERN/linkern
concorde/EDGEGEN/edgegen
concorde/FMATCH/fmatch
concorde/config.log
concorde/config.status
concorde/autom4te.cache/
concorde/CUT/mincut
concorde/LOCALCUT/localcut
concorde/TOOLS/edg2len
concorde/TOOLS/edge2len
concorde/TOOLS/edgunion
concorde/TOOLS/fconvert
concorde/TOOLS/prob2tsp
concorde/TOOLS/showres
concorde/TOOLS/tourchk
concorde/TOOLS/tourlen