.vscode

# TCC build
build

# Gurobi build
guroby/build

# CPLEX build
cplex

# IRACE build
irace/build

#Concorde build
concorde/**/Makefile

concorde/INCLUDE/Makefile.common
concorde/INCLUDE/config.h

concorde/config.cache
concorde/config.log
concorde/config.status

concorde/**/*.o
concorde/**/*.a

concorde/CUT/mincut
concorde/EDGEGEN/edgegen
concorde/FMATCH/fmatch
concorde/LINKERN/linkern
concorde/LOCALCUT/localcut
concorde/TOOLS/edg2len
concorde/TOOLS/edgunion
concorde/TOOLS/fconvert
concorde/TOOLS/prob2tsp
concorde/TOOLS/showres
concorde/TOOLS/tourchk
concorde/TOOLS/tourlen
concorde/TSP/concorde
concorde/concorde.h
concorde/*.mas
concorde/*.sav
concorde/*.sol
concorde/*.pul
concorde/*.res

# Python virtual environments
IA/venv/

# Joblib files
IA/joblib/*.joblib